@import 'bootstrap/dist/css/bootstrap.min.css';

.background-image {
    background-image: url('nk1.webp');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh; 
  }
  

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  






























/*


















Ricardo, voce lembra as credenciais de SSH do servidor? 
PS: O Estagiario da coreia ferrou com as credenciais de acesso do teams, malditos coreanos
PS2: Voce tem que se lembrar de apagar os comentarios! Parece que ninguem liga pra isso mesmo






















*/
