@import 'bootstrap/dist/css/bootstrap.min.css';

body{
  background-color: #D32F2F;
}
.txttitle{
  padding: 40px;
  text-align: center;
}

#cardsobre{
  margin-top: 50rem;
}

.txttitle h2{
  padding: 10px;
}

.blur-image{
  background-size: cover; /* ou 'contain' dependendo do efeito desejado */
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh; /* ou outra altura desejada */
  filter: blur(px);
}



.navbarcustom{
  display: flexbox;
  justify-content: center;
  align-items: center ;
  text-align: center;
}


/* lembrar de deixar os textos mais pertos da borda */
